---
  import Layout from "@/layouts/Layout.astro";
  import { auth } from "@/lib/auth";
  import AuthTabs from "@/components/react/authform.tsx"

  const session = await auth.api.getSession({
    headers: Astro.request.headers
  })
---

<Layout title="Titip Pesan" description="Place for message board class 8.10" keywords={["titip pesan", "web 8.10"]}>
  <main class="w-full min-h-screen bg-[#1e1b2e] text-white flex items-center justify-center px-4">
    {!session?.user && (
      <AuthTabs client:load/> 
    )} 
  </main>
</Layout>
