---
  import Layout from "@/layouts/Layout.astro"
---

<Layout title="message" description="place for message board class 8.10" keywords={["titip pesan","web 8.10"]}>
  <main class=" w-full h-screen">

  </main>
</Layout>
