---
  import "@/styles/global.css"
  import Navbar from "@/components/svelte/Navbar.svelte"
  import Footer from "@/components/svelte/Footer.svelte"
  import "@fortawesome/fontawesome-free/css/all.min.css"
  import { ClientRouter } from "astro:transitions";

  interface Props {
    title: string;
    description?: string;
    keywords?: string[]
  }

  const { title, description,keywords } = Astro.props as Props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>8.10 | { title || "home" }</title>
    {description && (
      <meta name="description" content={description} />
    )}
    {keywords && keywords.length > 0 && (
      <meta name="keywords" content={keywords.join(',')} />
    )}
    <ClientRouter/>
  </head>
  <body class="bg-gray-900">
    <Navbar client:only="svelte"/>
    <div transition:animate="slide">
      <slot/>
    </div>
    <Footer client:load/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
    height: 100%;
    text-transform: capitalize;
	}
</style>
